<div class="main-wrapper">     
    <form (ngSubmit)="formSubmit()" [formGroup]='filmEditForm'>
        Value: {{ filmEditForm.value | json }}<hr>    
        <h1>Film editing</h1>
        <mat-card class="example-card">
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="nazov" formControlName='nazov' required />
                    <mat-error *ngIf="nazov?.errors?.minlength">Nazov musi mat aspon {{nazov.errors.minlength.requiredLength}} znaky,
                        aktualne mate {{nazov.errors.minlength.actualLength}} znakov
                    </mat-error>
                    <mat-error *ngIf="nazov?.errors?.required">Nazov musi byt vyplneny</mat-error>
                    <mat-error *ngIf="nazov?.errors?.conflictField">{{nazov.errors.conflictField}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="rok" formControlName='rok' required />
                    <mat-error *ngIf="rok?.errors?.min">rok musi byt vacsi ako 1000</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="imdbID" formControlName='imdbID' />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="slovenskyNazov" formControlName='slovenskyNazov' />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="afi1998" formControlName='afi1998' />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="afi2007" formControlName='afi2007' />
                </mat-form-field>

                <p>Rezisery:</p>
                <div formArrayName='reziser'>
                    <div *ngFor="let clovek of reziserArray.controls; let i=index" [formGroupName]="i">

                        <mat-form-field class="xs">            
                            <input matInput placeholder="priezvisko" formControlName="priezvisko">            
                        </mat-form-field>
            
                        <mat-form-field class="xs">            
                            <input matInput placeholder="krstneMeno" formControlName="krstneMeno">            
                        </mat-form-field>    
            
                        <mat-form-field class="xs">            
                            <input matInput placeholder="stredneMeno" formControlName="stredneMeno">            
                        </mat-form-field>
                        <button mat-raised-button color="warn" (click)="deleteReziser(i)">Delete</button>
                    </div>    
                </div>
                <button mat-raised-button color="primary" (click)="addReziser()">Add Reziser</button>

                <p>Postavy:</p>
                <div formArrayName='postava'>
                    <div *ngFor="let clovek of postavaArray.controls; let i=index" [formGroupName]="i">

                        <mat-form-field class="xs">            
                            <input matInput placeholder="postava" formControlName="postava">            
                        </mat-form-field>

                        <mat-form-field class="xs">            
                            <input matInput placeholder="dolezitost" formControlName="dolezitost">            
                        </mat-form-field>

                        <mat-form-field class="xs">            
                            <input matInput placeholder="priezviskoPostava" formControlName="priezviskoPostava">            
                        </mat-form-field>
            
                        <mat-form-field class="xs">            
                            <input matInput placeholder="krstneMenoPostava" formControlName="krstneMenoPostava">            
                        </mat-form-field>    
            
                        <mat-form-field class="xs">            
                            <input matInput placeholder="stredneMenoPostava" formControlName="stredneMenoPostava">            
                        </mat-form-field>
                        <button mat-raised-button color="warn" (click)="deletePostava(i)">Delete</button>
                    </div>    
                </div>
                <button mat-raised-button color="primary" (click)="addPostava()">Add Postava</button>

            </mat-card-content>
            <mat-card-actions>
                <button type="submit" mat-raised-button color="primary" [disabled]="filmEditForm?.invalid">Save</button>
            </mat-card-actions> 
        </mat-card>        
    </form>
</div>
